body {
    background-color: rgb(199, 199, 199) !important;
}

.alert.alert-info {
    display:none !important;
}
.nav-indicators .dropdown:not(.nav-messages) a img {
    width: 20px;
} /* Apply a width to the flag logo */

div .navbar-inner {
    background-color: rgb(0, 183, 255) !important;
}

.btn.btn-navbar {
    background-color: rgb(0, 183, 255) !important;
}

<<<<<<< HEAD
header {
    background-color: rgb(0, 183, 255) !important;
}
<<<<<<< HEAD
=======
=======
>>>>>>> main

/* Menu */
.accordion-group .accordion-heading .accordion-toggle span {
    color: #F2F2F2 !important;
}/* disable text in menu */

.accordion-group .accordion-heading .accordion-toggle span:hover {
    color: #696D76 !important;
}/* display text when hovered */

.social-sidebar .menu .accordion-group .accordion-heading .accordion-toggle.opened {
    background-color: rgb(0, 183, 255) !important;
}

.social-sidebar .menu .accordion-group .accordion-heading .accordion-toggle:hover {
    background-color: rgb(0, 183, 255) !important;
}

<<<<<<< HEAD
=======
>>>>>>> menu
>>>>>>> main
