body {
    background-color: rgb(76, 219, 112) !important;
}

.alert.alert-info {
    display:none !important;
}
.nav-indicators .dropdown:not(.nav-messages) a img {
    width: 20px;
} /* Apply a width to the flag logo */
